## Code to remove the sequences which had "X" in them. X means unknown amino acid. After removing, uniprot_df.csv file was updated.

In [4]:
import pandas as pd

In [7]:
uniprot_df = pd.read_csv("uniprot_df.csv")
uniprot_df

               id                                           sequence
0      A0A068FVC1  MNIIKTAIPDVHIFEPKVFFDERGFFFESFNHKLFEEAVGYSVNFV...
1      A0A068FZD0  MTTQSSKSRVFVAGHRGMVGSAICRQLAQRTDIELVVRSRSELDLT...
2      A0A068FZK6  METSGLVAFVGTALAIACLRPLSAKLQLVDLPNQRKQHVGAIPLIG...
3      A0A075P9Z7  MNLTELKQKPITDLLQLAEEMGIENMARSRKQDVIFSLLKKHAKSG...
4      A0A075PBX8  MQISVNEFLTPRHIDVQVVSPTRAKITLEPLERGFGHTLGNALRRI...
...           ...                                                ...
29776      Q7BJX9  MDIYMSRYEEITQQLIFSPKTWLITGVAGFIGSNLLEKLLKLNQVV...
29777      Q8UVZ1  MEQANLYEVAPRPLMTSLVQNQQNPYIYKDTAGDLSEICENENSID...
29778      Q9L5A4  MKQTSLALAITALLSTLPSALVQANEGCAPLTGKESGMDIGRSSTE...
29779      R1GTS7  MFARLEGRPVLLVGGGEVALRKARLLLAAGARLTLVSPVLASEFDE...
29780      T0PES4  MDYLPIFCRLDNKPVLLVGGGDVAERKARLLLDAGAQLTVVAPELD...

[29781 rows x 2 columns]

In [6]:
#Find the rows that contains "X" in the sequences

uniprot_df[uniprot_df['sequence'].str.contains('X')]

               id                                           sequence
4379   A0A1Q8F8M2  MTDLKVAAQRALNLMDLTTLNDDDTDQKVIDLCHKAKSPAGLTAAV...
12904  A0A428VHZ9  MGPMTRAHTLGFPRIGAKRELKFALESYWRGETTQAELIATGKSLR...
27428      Q03321  MNSLRLEPISRVAGEVNLPGSKSVSNRALLLAALARGTTRLTNLLD...
27474      Q9PRY2                                  XWSCTKGCPDAKQCEAT
29773      P81903                              MPDPAKTAPKKGSKKAVTKXA

In [8]:
#Remove the rows and update the uniprot_df

uniprot_df = uniprot_df[~uniprot_df['sequence'].str.contains('X', case=False)]
uniprot_df

               id                                           sequence
0      A0A068FVC1  MNIIKTAIPDVHIFEPKVFFDERGFFFESFNHKLFEEAVGYSVNFV...
1      A0A068FZD0  MTTQSSKSRVFVAGHRGMVGSAICRQLAQRTDIELVVRSRSELDLT...
2      A0A068FZK6  METSGLVAFVGTALAIACLRPLSAKLQLVDLPNQRKQHVGAIPLIG...
3      A0A075P9Z7  MNLTELKQKPITDLLQLAEEMGIENMARSRKQDVIFSLLKKHAKSG...
4      A0A075PBX8  MQISVNEFLTPRHIDVQVVSPTRAKITLEPLERGFGHTLGNALRRI...
...           ...                                                ...
29776      Q7BJX9  MDIYMSRYEEITQQLIFSPKTWLITGVAGFIGSNLLEKLLKLNQVV...
29777      Q8UVZ1  MEQANLYEVAPRPLMTSLVQNQQNPYIYKDTAGDLSEICENENSID...
29778      Q9L5A4  MKQTSLALAITALLSTLPSALVQANEGCAPLTGKESGMDIGRSSTE...
29779      R1GTS7  MFARLEGRPVLLVGGGEVALRKARLLLAAGARLTLVSPVLASEFDE...
29780      T0PES4  MDYLPIFCRLDNKPVLLVGGGDVAERKARLLLDAGAQLTVVAPELD...

[29776 rows x 2 columns]

In [10]:
#update the uniprot_df csv file

uniprot_df.to_csv("/Users/zaidur/Documents/Sequence_Project/aeromonasBact/uniprot_df.csv", index=False)